<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="dashboard">SBB Infos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" id="navbarGradeDropdown" role="button" data-bs-toggle="dropdown"-->
<!--             aria-haspopup="true" aria-expanded="false">-->
<!--            Grade </a>-->
<!--          <div class="dropdown-menu" aria-labelledby="navbarGradeDropdown">-->
<!--            <a class="nav-link" routerLink="list-grades">List Grades</a>-->
<!--            <a class="nav-link" routerLink="create-grade">Add Grades</a>-->
<!--            <a class="nav-link" routerLink="update-grade">Update Grades</a>-->
<!--            <a class="nav-link" routerLink="delete-grade">Delete Grades</a>-->
<!--          </div>-->
<!--        </li>-->
            <a class="nav-link" routerLink="connections">Connections</a>
<!--            <a class="nav-link" routerLink="create-goal">Add Goals</a>-->
<!--            <a class="nav-link" routerLink="update-goal">Update Goals</a>-->
<!--            <a class="nav-link" routerLink="delete-goal">Delete Goals</a>-->
      </ul>
    </div>
  </div>
</nav>
